@font-face {
    font-family: "Baloo 2";
    font-style: normal;
    font-weight: 700;
    src: url(./fonts/Baloo.woff) format("woff");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
        U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191,
        U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

html,
body {
    height: 100%;
    font-family: "Roboto", sans-serif;
    font-weight: normal;
    font-size: 1.1em;
}

.centered {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
}

.logo {
    position: absolute;
    top: 1rem;
    left: 50%;
    transform: translateX(-50%);
    font-family: "Baloo 2";
    font-size: 5em;
    z-index: 1;
}

#logo-ez {
    color: var(--sl-color-primary-600);
}

#logo-cap {
    color: var(--sl-color-neutral-600);
}

#video {
    width: 640px;
    height: 360px;
    border: 1px black;
}

#slider {
    width: 640px;
    margin-left: auto;
    margin-right: auto;
}

.helper-text {
    color: var(--sl-color-neutral-400);
    font-style: italic;
    font-size: 0.75em;
}

.download-instructions {
    margin-top: -0.5rem;
}

/* Github corner styling */
.github-corner {
    z-index: 1000;
}
.github-corner:hover .octo-arm {
    animation: octocat-wave 560ms ease-in-out;
}
@keyframes octocat-wave {
    0%,
    100% {
        transform: rotate(0);
    }
    20%,
    60% {
        transform: rotate(-25deg);
    }
    40%,
    80% {
        transform: rotate(10deg);
    }
}
@media (max-width: 500px) {
    .github-corner:hover .octo-arm {
        animation: none;
    }
    .github-corner .octo-arm {
        animation: octocat-wave 560ms ease-in-out;
    }
}
